body {
    background-color: #ffffff; 
    color: #333; 
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    font-family: "calibri", sans-serif;
}




header {
    background-color: #45b2f1; 
    padding: 10px 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
   
}

.logo {
    display: flex; 
    align-items: center; 
}

.logo h1 {
    color: #fff; 
    margin: 0; 
    margin-left: 10px; 
}

.logo img {
    width: 50px; 
    height: auto; 
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav ul li {
    display: inline; 
    margin-left: 20px; 
}

nav ul li a {
    display: inline-block; 
    padding: 10px 20px; 
    text-decoration: none; 
    color: #fff; 
}

nav ul li a:hover {
    background-color: #35aaee; 
}



/* Estilos para las primeras cards */
.seccion-dos-cards {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px; 
}

.card {
    flex: 1; 
    padding: 20px; 
    background-color: #0cb7f2; 
    text-align: center; 
    height: 300px; 
    position: relative;
    overflow: hidden;
}

.card img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
}


.boton {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #2765f6; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    margin-top: 10px;
}

.boton:hover {
    background-color: #35aaee; 
}


/* Estilos para las cards de docente*/
.titulo-docentes {
    text-align: center;
}

.seccion-docentes {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    margin-top: 20px;
}

.card-docente {
    flex: 1;
    padding: 20px;
    background-color: #7cdaf9;
    border-radius: 40px;
    text-align: center;
    margin-right: 30px; 
}

.card-docente:last-child {
    margin-right: 0;
}

.card-docente img {
    max-width: 100%;
    border-radius: 8px;
}

.card-docente h3 {
    margin-top: 10px;
}

.card-docente p {
    margin-top: 10px;
}



/* Estilos de footer*/

footer {
    background-color: #ffffff;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.perfil-desarollador {
    flex: 1; 
}

.Fecha {
    flex: 1; 
    text-align: center; 
}

.info-desarollador {
    flex: 1; 
    text-align: right; 
}
.footer-container {
    display: flex;
    align-items: center; 
}




/* responsividad */
@media only screen and (max-width: 600px) {
    .seccion-dos-cards,
    .seccion-docentes {
        flex-direction: column; 
    }

    .card,
    .card-docente {
        width: 90%; 
        margin-bottom: 20px; 
    }
}




/* Estilos para la página de perfil del desarrollador */
body.perfil-desarollador {
    background-color: #000; 
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.perfil-desarollador header,
.perfil-desarollador .info-desarollador,
.perfil-desarollador footer {
    text-align: center; 
}

.perfil-desarollador footer a {
    color: #fff; 
}

.info-desarollador img {
    max-width: 350px; 
    border-radius: 50%;
    margin-bottom: 20px; 
}

.info-desarollador a {
    color: #007bff; 
    text-decoration: none;
}

.info-desarollador a:hover {
    text-decoration: underline; 
}
